.list{
    padding: 10px;
}
.row{
  padding-bottom:10px;
}
.list a {
  margin-right: 10px;

}
.table{
  border: 2px solid black;
}

.table td{
  text-align: center;
}
.table th{
  text-align: center;
}
.logoutBtn{
  margin-right:10px;
  }
