<div class="list">
  <div class="row">
      <div class="col-md-4 col-md-pull-2">
      <button> <a [routerLink]="['/create']">Add a New Poll</a>
      </button>
    </div>
    <div class="col-md-4 col-md-pull-2">
      <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
  <h3>Current Polls</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Survey question</th>
        <th>Date posted</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys">
        <td>{{ survey._user.username }}</td>
        <td>
          <a [routerLink]="['/survey', survey._id]">{{ survey.question }}{{survey._id}}</a>
        </td>
        <td>{{ survey.createdAt | date:'MMMM dd yyyy' }}</td>
        <td> <!--*ngIf="survey._user._id === userId" --> <button btn btn-danger (click)="onDelete(survey._id)"> Delete</button>
          {{ survey._user._id }}
        </td>
      </tr>


    </tbody>
  </table>
</div>
