<div class="list container">

  <div class="row float-right">


          <a [routerLink]="['/create']">Create a New Poll</a>

      <button class='logoutBtn'><a (click)="logout()">Logout</a></button>

   </div>
  <h5>Current Polls</h5>
  <div class="float-right">
   <input  [(ngModel)]="searchText" placeholder="search text goes here">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Survey question</th>
        <th>Date posted</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys | searchFilterPipe : searchText">
        <td>{{ survey._user.username }}</td>
        <td>
          <a [routerLink]="['/survey', survey._id]">{{ survey.question }}</a>
        </td>
        <td>{{ survey.createdAt | date:'MMMM dd yyyy' }}</td>
        <td> <!--*ngIf="survey._user._id === userId" -->
          <button *ngIf="survey._user._id === userId" class="btn btn-danger"  (click)="onDelete(survey._id)"> Delete</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
